@model IEnumerable<TomaszewskiWawrzyniak.MonitoryApp.Web.Models.MonitorDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get" style="max-width: 200px">
    <div class="form-group">
        <label class="control-label">Find by name: </label>
        <input type="text" name="SearchName" value="@ViewData["SearchName"]" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Minimal diagonal: </label>
        <input type="text" name="minDiagonal" value="@ViewData["MinDiagonal"]" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Maximal diagonal: </label>
        <input type="text" name="maxDiagonal" value="@ViewData["MaxDiagonal"]" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Matrix: </label>
        <select name="Matrix" class="form-control" asp-items="@ViewData["Matrixes"] as List<SelectListItem>"></select>
    </div>
    <div class="form-group">
        <label class="control-label">Producer: </label>
        <select name="Producer" class="form-control" asp-items="@ViewData["Producers"] as List<SelectListItem>"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Filter" class="btn btn-default" /> |
        <a asp-action="Index">Back to Full List</a>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagonal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matrix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProducerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagonal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matrix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProducerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
